@import "../abstract/variables";

.title {    
    text-align: center;

    @include breakpoint(md) {
       margin: 15px 0px;
       }
}

.text {
   margin: 15px;

   p {
    margin-bottom: 5px;
    line-height: 30px;
   }

   @include breakpoint(md) {
    text-align: center;
   }
}