@import "../abstract/variables";

.title {
    text-align: center;
    color: $LogoOscuro ;
    font-size: 1.5rem;
}   

.image {
    padding: 15px;
    width: 100%;
}

.text {
    margin: 15px;
}

.contact {
   display: flex;
 gap: 30px;
 justify-content: center;
 align-items: center;

 h2 {
    color:  $WhatsappGreen;
 }
}