@import "../abstract/variables";


.mainContainer {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

.logo {

    display: none;

    @include breakpoint(md) {
        display: block;
        margin-right: 5px;
    }
}

.imagesContainer {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content:end;
        margin-left:5%;
    }
}

.textContainer {

    @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5%;
    }
}

.titleContainer {
    display: flex;
    align-items: center;
}

.paragraphsContainer {

    @include breakpoint(md){
       width: 70%;
    }
}

.title {
    text-align: center;
    color: $LogoOscuro ;
    font-size: 1.5rem;
    font-size: 2rem;
    margin: 15px;

    @include breakpoint(md) {
        text-align: center;
    color: $LogoOscuro ;
    font-size: 1.5rem;
    font-size: 2rem;
    }
}

.image {
    padding: 0 15px;
    width: 100%;
   

    @include breakpoint(md) {
       padding: 0px;
    }


}

.text {
    margin: 15px;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
 

    h2 {
        color: $WhatsappGreen;
    }

    @include breakpoint(md) {
        margin-left: 15px;
        justify-content: start;
    }
}

.desktopText {

    display: none;

    @include breakpoint(md) {
        display: block;
    }
}