@import "../abstract/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
}

.button {
    background-color: coral;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    margin: 30px;
}