@import "../abstract/variables";


.title {
  text-align: center;
  margin: 5px;
  color: $LogoOscuro;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.p {
  font-size: 12px;

  @include breakpoint(md) {
    font-size: 15px;
}
}

.option {
  padding: 1px;
}