@import "../abstract/variables";

html, body {
    font-family: $MainFont;
    color: $LogoOscuro;
    min-height: 100%;
    position: relative;
}

p {
    font-size: 16px;
}

body {
    min-height: 80vh;
    background-color: $Rosa;
}


.loadingContainer{
  position: absolute;
left: 50%;
top: 100px;

  z-index: 100;
}

.navbarFixed{
    margin-top: 100px;
}