@import "../../scss/abstract/variables";


.navbar_container {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $NavBar;
    color: $light;
    width: 100%;
    padding: 10px;

    @include breakpoint(md) {
        align-items: center;
    }
}

.logo_container {
    display: flex;
    align-items: center;
    gap: 20px;


    p {
        font-size: 14px;
        color: $light;

        @include breakpoint(md) {
            font-size: 18px;
        }
    }

}

.links_container {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $NavBar;
    padding: 10px;
    text-align: end;
    padding-right: 10px;
    width: 150px;
    height: 100vh;



    a {
        color: $light;
    }

    // Lo veo con el cliente si quiere hacer un efecto hover
    // a:hover {
    //     color: red;
    //   }

    a[class="active"] {
        border: 1px solid white;
        padding: 7px;
        border-radius: 5px;
    }

    @include breakpoint(md) {
        position: static;
        width: 50%;
        padding: 0px;
        height: auto;
    }
}

.display_hide {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.icon_hamburguer {
    margin: 10px;

    @include breakpoint(md) {
        display: none;
    }
}

.ul_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include breakpoint(md) {
        flex-direction: row;
    }
}

li {
    margin-bottom: 30px;
  

    @include breakpoint(md) {
        margin-bottom: 0px;
    }
}

.close_icon {
    position: relative;
    right: -40px;
    top: 10px;
    display: block;

    @include breakpoint(md) {
        display: none;
    }
}

.products{
    display: flex;
justify-content: center;
align-items: center;
}

.subMenuHide {
    display: none;
}

.subMenu{

      li{
           margin: 20px 0px;
        }

    @include breakpoint(md) {
        position: absolute;
        top: 60px;
        background-color: $NavBar;
        width: 110px;
        text-align: center;
        
        li{
           margin: 10px 0px;
        }
    }
    }

