
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');





:root {
  --font-personal: 'Montserrat', sans-serif;
  --color-Navbar: hsl(0, 0%, 8%);
  --color-Navbar_font: white;
  --color-Rosa: hsl(37, 66%, 93%);
  --color-Logo-oscuro: hsl(190, 100%, 14%);
}