@import "../../scss/abstract/variables";

.cardContainer {
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 5px;
}

.price {
    text-align: center;
}

.imageContainer {
    height: 100%;
    position: relative;
}


.image {
   max-width: 100%;

   @include breakpoint(md) {
    position: relative;
    width: 300px;
    height: auto;
    overflow: hidden;
   }
   
}

.textoImagen{
    position: absolute;
    bottom: 0px;
    padding: 10px;

 
    color: yellow;
    font-size: 20px;
    font-weight: 400;
    
}

.nuevo {
    position: absolute;
    color: red;
    top: 10px;
    left: 50px;
    font-weight: 800;
  }